<!DOCTYPE html>
<html>
<body>

<form name="contact" method="POST" netlify-honeypot="bot-field" netlify>
  <div class="col-auto">
    <input type="text" name="name" required placeholder="NAME" style="max-width:100%; float:left; margin:10px 15px 15px 15px; text-align:center; font-style:uppercase;">
  </div>

  <div class="col-auto">
    <input type="email" name="email" placeholder="EMAIL" style="max-width:100%; float:left; margin:10px 15px 15px 15px; text-align:center; font-style:uppercase;">
  </div>

  <br><br>

<div style="min-height:50px; margin:10px 15px 15px 15px;">

      <div class="form-check" style="float:left; margin:10px 15px 15px 15px; text-align:center; min-width:30px;">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">I agree to receive updates, alerts and promotions from CBS and that CBS may share information about me with their marketing partners so that they may contact me by email or otherwise about their products or services.</label>
      </div>

        <br>
        <br>

      <div class="form-check" style="float:left; margin:10px 15px 15px 15px; text-align:center; min-width:30px;">
        <input type="checkbox" class="form-check-input" id="exampleCheck2">
        <label class="form-check-label" for="exampleCheck2">I agree to the terms and conditions of the CBS <a href="https://www.cbsinteractive.com/legal/cbsi/privacy-policy">Privacy Policy</a> and <a href="https://www.cbsinteractive.com/legal/cbsi/terms-of-use"> Terms of Use</a>.</label>
      </div>

      <br>
      <br>

      <div class="form-check" style="float:left; margin:10px 15px 15px 15px; text-align:center; min-width:30px;">
        <input type="checkbox" class="form-check-input" id="exampleCheck3">
        <label class="form-check-label" for="exampleCheck3">I hereby certify that I am 18 years of age and consent to having my photo posted on CBS social media accounts.</label>
      </div>

      <br>
      <br>


</div>

  <br>
  <br>

    <button type="submit" class="btn btn-primary btn-block" style="min-width:100%;">Submit</button>
</form>
