<!DOCTYPE html>
<html>
<body>

<form name=" < > " action="index.html" method="POST" netlify-honeypot="bot-field" netlify>
  <div class="col-auto">
    <input type="text" name="first" required placeholder="FIRST NAME" style="max-width:49%; float:left; margin:auto; text-align:center; font-style:uppercase;">
    <input type="text" name="last" required placeholder="LAST NAME" style="max-width:49%; float:right; margin:auto; text-align:center;">  </div>

  <div class="col-auto">
    <input type="text" name="email" required placeholder="EMAIL" style="max-width:100%; float:left; margin: 10px auto 10px auto; text-align:center; font-style:uppercase;">
  </div>

  <br><br>

<div style="min-height:50px; margin:10px 15px 15px 15px;">

      {% comment %} <div class="form-check" style="float:left; margin:10px 15px 15px 15px; text-align:center; min-width:30px;">
        <input type="checkbox" name="emaillist" value="agree" required class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">I agree to receive updates, alerts and promotions from LiveMe and that LiveMe may share information about me with their marketing partners so that they may contact me by email or otherwise about their products or services.</label>
      </div> {% endcomment %}

        <br>
        <br>

      <div class="form-check" style="float:left; margin:10px 15px 15px 15px; text-align:center; min-width:30px;">
        <input type="checkbox" name="agerequired" value="agree" required class="form-check-input" id="exampleCheck2">
        <label class="form-check-label" for="exampleCheck2">I understand that the videos or photos taken of me are property of flamingo.video.</label>
      </div>

      <br>
      <br>

</div>

  <br>
  <br>

    <button type="submit" class="btn btn-primary btn-block" style="min-width:100%;">Submit</button>
</form>
