<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/css/slider.css" />
<link rel="stylesheet" href="/css/multistep.css" />

<body>

  <form id="regForm" name="FlamingoApp" action="index.html" method="POST" netlify-honeypot="bot-field" netlify>


    <!-- <h1>Register:</h1> -->

    <!-- One "tab" for each step in the form: -->

    <div class="col-auto">
      <div class="tab">
        <input type="text" name="first" required placeholder="FIRST NAME"
          style="max-width:49%; float:left; margin: 10px auto 10px auto; text-align:center; font-style:uppercase;"
          oninput="this.className = ''">

        <input type="text" name="last" required placeholder="LAST NAME"
          style="max-width:49%; float:right; margin: 10px auto 10px auto; text-align:center; font-style:uppercase;"
          oninput="this.className = ''">

        <div class="col-auto">
          <input type="email" name="email" required placeholder="EMAIL"
            style="max-width:100%; float:left; margin: 10px auto 10px auto; text-align:center; font-style:uppercase;"
            oninput="this.className = ''">
        </div>

        <div class="col-auto">
          <input type="text" name="company" required placeholder="COMPANY"
            style="max-width:100%; float:left; margin: 10px auto 10px auto; text-align:center; font-style:uppercase;"
            oninput="this.className = ''">
        </div>
      </div>

    </div>


    <div class="col-auto">
      <div class="tab">
        <div class="value">0</div>
        <input type="range" name="numberOfEvents" min="0" max="500" step="25" value="0" oninput="this.className = ''">

      </div>
    </div>

    <!-- <div class="tab">Birthday:
      <p><input placeholder="dd" oninput="this.className = ''"></p>
      <p><input placeholder="mm" oninput="this.className = ''"></p>
      <p><input placeholder="yyyy" oninput="this.className = ''"></p>
    </div>

    <div class="tab">Login Info:
      <p><input placeholder="Username..." oninput="this.className = ''"></p>
      <p><input placeholder="Password..." oninput="this.className = ''"></p>
    </div> -->
    <!-- Circles which indicates the steps of the form: -->
    <div style="text-align:center;margin-top:40px;">
      <span class="step"></span>
      <span class="step"></span>
      <!-- <span class="step"></span>
      <span class="step"></span> -->
    </div>


    <div>
      <div style="float:right;">
        <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
        <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
      </div>
    </div>


  </form>
</body>

<script>
  var elem = document.querySelector('input[type="range"]');

  var rangeValue = function () {
    var newValue = elem.value;
    var target = document.querySelector('.value');
    target.innerHTML = newValue;
  }

  elem.addEventListener("input", rangeValue);

</script>
