<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/css/slider.css" />


<body>

  <form name="Foreo" action="index.html" method="POST" netlify-honeypot="bot-field" netlify>
    <!-- <div class="col-auto">
    <input type="text" name="company" required placeholder="COMPANY NAME" style="max-width:100%; float:left; margin: 10px auto 10px auto; text-align:center; font-style:uppercase;">
  </div> -->
    <!-- <div class="col-auto">
      <input type="text" name="first" required placeholder="FIRST NAME"
        style="max-width:49%; float:left; margin: 10px auto 10px auto; text-align:center; font-style:uppercase;">
      <input type="text" name="last" required placeholder="LAST NAME"
        style="max-width:49%; float:right; margin: 10px auto 10px auto; text-align:center;">
    </div> -->
    <!-- 
    <div class="col-auto">
      <input type="email" name="email" required placeholder="EMAIL"
        style="max-width:100%; float:left; margin: 10px auto 10px auto; text-align:center; font-style:uppercase;">
    </div> -->

    <!-- <div class="col-auto">
      <input type="text" name="company" required placeholder="COMPANY"
        style="max-width:100%; float:left; margin: 10px auto 10px auto; text-align:center; font-style:uppercase;">
    </div> -->

    <div class="col-auto">
      <div class="value">0</div>
      <input type="range" name="numberOfEvents" min="0" max="500" step="25" value="0">
    </div>

    <!-- <div class="col-auto">
      <input type="text" name="phone" required placeholder="TELEPHONE"
        style="max-width:100%; float:left; margin: 10px auto 10px auto; text-align:center; font-style:uppercase;">
    </div> -->

    <!-- 

    <div class="col-auto">
    <input type="text" name="address" required placeholder="ADDRESS" style="max-width:100%; float:left; margin: 10px auto 10px auto; text-align:center; font-style:uppercase;">
  </div>



    <div class="col-auto">
    <input type="text" name="zip" required placeholder="POSTCODE" style="max-width:100%; float:left; margin: 10px auto 10px auto; text-align:center; font-style:uppercase;">
  </div>

  <div class="col-auto">
    <input type="text" name="town" required placeholder="TOWN" style="max-width:49%; float:left; margin: 10px auto 10px auto; text-align:center; font-style:uppercase;">
    <input type="text" name="state" required placeholder="STATE" style="max-width:49%; float:right; margin: 10px auto 10px auto; text-align:center;">  
    </div>

      <div class="col-auto">
    <input type="text" name="country" required placeholder="COUNTRY" style="max-width:100%; float:left; margin: 10px auto 10px auto; text-align:center; font-style:uppercase;">
  </div> -->






    <div style="min-height:50px; margin:10px 15px 15px 15px;">

      <!-- <div class="form-check" style="float:left; margin:10px 15px 15px 15px; text-align:center; min-width:30px;">
        <input type="checkbox" name="emaillist" value="agree" required class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">I agree to receive updates, alerts and promotions from LiveMe and that LiveMe may share information about me with their marketing partners so that they may contact me by email or otherwise about their products or services.</label>
      </div> {% endcomment %} -->

      <br>
      <br>

      <!---<div class="form-check" style="float:left; margin:10px 15px 15px 15px; text-align:center; min-width:30px;">
        <input type="checkbox" name="agerequired" value="agree" required class="form-check-input" id="exampleCheck2">
        <label class="form-check-label" for="exampleCheck2">I understand that the videos or photos taken of me are property of flamingo.video.</label>
      </div> -->

      <br>
      <br>

    </div>


    <button type="submit" class="btn btn-primary btn-block"
      style="min-width:100%; float:left; margin: 10px auto 10px auto; text-align:center; font-style:uppercase;">Submit</button>



    <!-- <a href="#foodform"><button>PLACE ORDER</button></a> -->
  </form>
  <!-- <a href="#food"> <button class="btn btn-primary btn-block" style="min-width:100%; float:left; margin: 10px auto 10px auto; text-align:center;
      font-style:uppercase;">Continue</button> </a> -->


  <script>
    var elem = document.querySelector('input[type="range"]');

    var rangeValue = function () {
      var newValue = elem.value;
      var target = document.querySelector('.value');
      target.innerHTML = newValue;
    }

    elem.addEventListener("input", rangeValue);

  </script>
